<h1>Welcome {{title.toUpperCase()}}</h1>
<!--<p>Somma {{10+2}}</p> -->
<p *ngIf="myCity"> {{myCity.name}} - {{myCity.region}} </p>
<br>
<hr>
<br>
<div *ngIf="cities">
  <table>
    <thead>
      <th>id</th>
      <th>name</th>
      <th>region</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of cities" [ngSwitch]="item.region">
      <td>{{item.id}}</td>
      <td [ngClass]="{
        'region':item.name=='Roma',
        'myRegion':item.name=='Milano'
      }">{{item.name}}</td>
      <td *ngSwitchCase=" 'Abruzzo'" style="color: red;">{{item.region}}</td>
      <td *ngSwitchDefault>{{item.region}}</td>
    </tr>
    </tbody>
  </table>
</div>
<hr>
<input (keyup)="onKeyboard($event)"/>
<div *ngIf="keyCode">
  <br>
  <span >Keyboard: {{keyCode}} </span>
</div>
<br>
<hr>
<div>
  <h2>Elenco Città</h2>
  <app-city-item 
  *ngFor="let item of cities" 
  [city]="item"
  (citySelected)="onCitySelected($event)" ></app-city-item>
</div>

